body {
    background: #101522;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

img {
    width: 250px;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

input {
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

button {
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    margin-left: 5px;
    cursor: pointer;
}
